@model TournamentNET.Models.Statistics

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Statistics</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Match
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matches.Teams.name) vs
            @Html.DisplayFor(model => model.Matches.Teams1.name) w
            @Html.DisplayFor(model => model.Matches.Tournaments.name)
        </dd>

        <dt>
            Full Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players.name)
            @Html.DisplayFor(model => model.Players.last_name)
        </dd>

        <dt>
            Points
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            Error
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error)
        </dd>

        <dt>
            Blocks
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blocks)
        </dd>

        <dt>
            Aces
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aces)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
