@model TournamentNET.Models.Statistics

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player Statistics in Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Match") 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matches.Teams.name) vs
            @Html.DisplayFor(model => model.Matches.Teams1.name)
        </dd>

        <dt>
            @Html.DisplayName("Full Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players.name) 
            @Html.DisplayFor(model => model.Players.last_name)
        </dd>

        <dt>
            @Html.DisplayName("Points")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            @Html.DisplayName("Error")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error)
        </dd>

        <dt>
            @Html.DisplayName("Block")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blocks)
        </dd>

        <dt>
            @Html.DisplayName("Aces")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aces)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.statistics_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
