@model TournamentNET.Models.ViewModelMatches

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matches</h4>
  


    <div><b>Player Statistic</b><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Imie Nazwisko</th>
            <th>Team</th>
            <th>Points</th>
            <th>Error</th>
            <th>Block</th>
            <th>Aces</th>

        </tr>
        @foreach (var d in Model.statistics)
        {
        <tr>
            <td>@d.Players.name  @d.Players.last_name</td>
            <td>@d.Players.Teams.name</td>
            <td>@d.points</td>
            <td>@d.error</td>
            <td>@d.blocks</td>
            <td>@d.aces</td>

    </tr>

        }
    </table>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.matches.match_id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
