@model IEnumerable<TournamentNET.Models.Matches>

@{
    ViewBag.Title = "Index";
}

<h2>Matches</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width:100%"; class="table">
    <tr>
        <th>
            @Html.DisplayName("Tournaments Name")
        </th>
        <th>
            @Html.DisplayName("Team1")
        </th>
        <th>
            @Html.DisplayName("Game results")
        </th>
        <th>
            @Html.DisplayName("Team2")
        </th>
        <th>
            @Html.DisplayName("Game points")
        </th>
        <th>
            @Html.DisplayName("Ladder Position")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Tournaments.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Teams.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.game_result)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Teams1.name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.game_points)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ladder_position)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.match_id }) |
        @Html.ActionLink("Details", "Details", new { id = item.match_id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.match_id })
    </td>
</tr>
}

</table>
