@model IEnumerable<TournamentNET.Models.Matches>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teams.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teams1.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tournaments.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ladder_position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teams.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teams1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tournaments.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_result)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ladder_position)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.match_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.match_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.match_id })
        </td>
    </tr>
}

</table>
