@model TournamentNET.Models.ViewModelTeamPlayers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tournament Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teams.Tournaments.name)
        </dd>

        <dt>
            Team Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teams.name)
        </dd>

        <dt>
            Ranking
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teams.ranking)
        </dd>

    </dl>

</div>

<div>

    <b>Team players</b><br />
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Full Name</th>
            <th></th>

        </tr>
        @foreach (var p in Model.players)
        {
            <tr>
                <td>@p.name @p.last_name</td>
            </tr>

        }
    </table>


</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.teams.team_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
