@model TournamentNET.Models.Teams

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tournament Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournaments.name)
        </dd>

        <dt>
            @Html.DisplayName("Team Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayName("Ranking")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ranking)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.team_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
